@import "tailwindcss";

html,
body {
  font-family: "Poppins", sans-serif;
}

#youtube-player-host {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
/* Ensures the video container itself expands to fill the screen */
:fullscreen {
  width: 100%;
  height: 100%;
  background: #000;
  margin: 0;
  padding: 0;
  display: flex; /* Override default fullscreen display */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
